html {
  --border: hsl(200, 10%, 30%);
  --text: hsl(200, 10%, 25%);
  --bg: hsl(200, 10%, 98%);
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
}

button,
input {
  display: block;
  border: 1px solid var(--border);

  font: inherit;
  background: none;
  color: inherit;
}

label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  background-color: var(--text);
  color: var(--bg);
  cursor: pointer;
}

input::placeholder {
  color: inherit;
  opacity: 1;
}

ul {
  list-style: none;
  padding: 0;
}
